
  
  .sidebar {
    width: 250px;
    
    color: rgb(255, 255, 255);
    background-color: rgb(154, 191, 239);
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    box-shadow: 0px 4px 60px rgba(0, 0, 0, 0.9);
    height: 100vh; /* Added box shadow */
    
  }
  
.sidebar-list{
    list-style: none;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: black;
    box-shadow: color-mix(in hsl shorter hue, color percentage, color percentage);
    
  }

  .sidebar-list-item{
    padding: 20px;
    background-color: rgb(0, 49, 98);
    border-radius: 10px;
    margin: 10px;
    height: 50px;
    text-align: center;
    margin-top: 20px;
    box-shadow: 6px 6px 10px rgba(0, 0, 0,0.6);
  }
  

  
  